{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati dolores quisquam sed quod unde provident modi
    quasi, soluta dignissimos aperiam reiciendis nemo odit velit sunt sit. Rerum beatae ut tenetur cum consectetur harum
    quasi fuga quam, atque nisi optio numquam quidem perspiciatis similique officia, quos corrupti nulla recusandae a
    molestiae eos. Officiis praesentium vel at aspernatur eius nam corporis asperiores, repudiandae fugiat dicta
    possimus inventore in perferendis, debitis consequuntur voluptatibus atque dolorum eaque impedit quod eligendi culpa
    eum commodi voluptatum. Alias repudiandae nesciunt culpa accusantium delectus officia nulla quo. Ad blanditiis atque
    voluptates rem, iure illo consectetur consequatur quo laborum.</p>
{% endblock %}